.ant-custom-input,
.ant-input-password {
  font-weight: 400;
  font-size: 14px;
  color: #8b8b8b;
  height: 44px;
  margin-bottom: 0;
  border-radius: 0px;
  font-family: 'Open-Sans' !important;
}

.ant-custom-area {
  border-radius: 15px;
}
