.font-base {
  font-family: 'Open-Sans' !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.color-000000{
  color: #000000;
}

.color-3D3D3D{
  color: #3D3D3D;
}

.color-8B8B8B {
  color: #8B8B8B;
}

.color-0d6efd{
  color: #0d6efd;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7979;
}

@for $i from 0 through 2000 {
  .width-#{$i} {
    width: #{$i}px !important;
  }

  .height-#{$i} {
    height: #{$i}px !important;
  }
}

@for $i from 0 through 200 {
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
}

@for $i from 0 through 100 {
  .w-#{$i} {
    width: #{$i}#{'%'} !important;
  }
  .h-#{$i} {
    height: #{$i}#{'%'} !important;
  }
}

@for $i from 0 through 200 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
}

@for $i from 0 through 40 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.ant-image {
  height: 100% !important;
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}

.disable {
  svg {
    cursor: no-drop !important;
  }
}
.text-one-line {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.pointer{
  cursor: pointer;
}