@import './variables.scss';
@import './pages/index.scss';
@import './global.scss';
@import './color.scss';

body {
  font-family: 'Open-Sans' !important;
}

.font-base {
  font-family: 'Open-Sans' !important;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
  width: 100% !important;
  height: 52px !important;
}

.ant-upload-list-item-container {
  .ant-tooltip {
    display: none !important;
  }
}
